%footer.footer
  = link_to '#', class: 'cdm-btn play m-r-10 play-song', data: {provider_id: song.provider_id, provider: song.provider, song_id: song.id} do
    %i.icon.icon-play-grey
    Play
  %span.plays= song.plays.size
  plays

  .vote-share
    %i.icon.icon-heart-grey
    .votes= song.votes.size
    = link_to share_song_path(song), remote: true do
      %i.icon.icon-share-grey
