= content_for :header_title do
  About CDM


= content_for :about do
  .panel-one
    .holder-logo.text-center
      .logo-white

    %h1.text-center Caribbean Dance Music

    .container.info
      .col-xs-4.col
        %i.icon.icon-play-big
        %h2 Discover
        %p
          The latest in
          %strong Caribbean Dance Music
          using our platform
      .col-xs-4.col
        %i.icon.icon-star-big
        %h2 Rate
        %p
          %strong Vote by playing and liking
          your favourite music and artist that are trending
      .col-xs-4.col
        %i.icon.icon-share-big
        %h2 Share
        %p
          All that you discover with friend on social media
  .panel-two
    .col-xs-6.image
    .col-xs-6.details
      %h2 We Are CDM Generation
      %p CDM Generation is a platform and agency dedicated to the development of Caribbean Dance Music (CDM) and all elements related to CDM such as DJs, Producers, Artists, Events, Technology & News. Caribbean Dance Music (CDM) is the fusion of Caribbean Music such as Soca, Dancehall, Reggae, Latin etc and various sub genres of Dance Music such as Techno, Trap, House, Electro etc.

  .panel-three
    .logo-detailed
    %p.text-center The key element of developing the Caribbean Dance Music industry is centered around the Caribbean Dance Music Conference (CDMC). CDM Generation will be hosting the First Annual Caribbean Dance Music Conference scheduled to take place August 6th, 7th, 8th and 9th. The goal of the CDMC is to establish a Caribbean destination that showcases the Caribbean Dance Music industry to a Global market.

  .panel-four
    %h1.text-center DJ Challenge
    %h2.text-center
      %span
        The latest in
        %strong Caribbean Dance Music
        using our platform
    .text-center
      = link_to "Learn more", challenge_path, class: 'more'

