.logo {
  @include icon("logo", 77px, 41px);
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;

  &.icon-arrow-trend {
    @include icon("icons/arrow-trend", 22px, 13px);
  }

  &.icon-play-big {
    @include icon("icons/play-big", 78px, 94px);
  }

  &.icon-star-big {
    @include icon("icons/star-big", 93px, 87px);
  }

  &.icon-share-big {
    @include icon("icons/share-big", 89px, 89px);
  }

  &.icon-facebook-white {
    @include icon("icons/facebook-white", 24px, 24px);
  }

  &.icon-twitter-white {
    @include icon("icons/twitter-white", 24px, 24px);
  }

  &.icon-instagram-white {
    @include icon("icons/instagram-white", 24px, 24px);
  }

  &.icon-arrow-slider-right {
    @include icon("icons/arrow-slider", 13px, 24px);
  }

  &.icon-arrow-slider-left {
    @include icon("icons/arrow-slider", 13px, 24px);
    @include transform(rotate(-180deg));
  }

  &.icon-fb {
    @include icon("icons/fb", 12px, 24px);
  }

  &.icon-heart-white-circle {
    @include icon("icons/heart-white-circle", 50px, 50px);
  }

  &.icon-share-white-circle {
    @include icon("icons/share-white-circle", 50px, 50px);
  }

  &.icon-play-white-circle {
    @include icon("icons/play-white-circle", 63px, 63px);
  }

  &.icon-play-grey {
    @include icon("icons/play-grey", 17px, 17px);
  }

  &.icon-heart-grey {
    @include icon("icons/heart-grey", 17px, 15px);
  }

  &.icon-share-grey {
    @include icon("icons/share-grey", 16px, 16px);;
  }

  &.icon-logo-small {
    @include icon("logo-small", 32px, 17px);
  }

  &.icon-blog {
    @include icon("icons/blog", 19px, 19px);
  }

  &.icon-facebook-small {
    @include icon("icons/facebook-small", 16px, 16px);
  }

  &.icon-instagram-small {
    @include icon("icons/instagram-small", 16px, 16px);
  }

  &.icon-soundcloud-small {
    @include icon("icons/soundcloud-small", 16px, 16px);
  }
}

.cdm-btn {
  display: inline-block;
  border: 1px solid #dcdcdc;
  @include border-top-radius(4px);
  @include border-bottom-radius(4px);
  color: $color-dark-grey;
  font-weight: 600;
  padding: 5px 10px;
  text-decoration: none;
  @include transition(border-color 0.3s ease-in-out);

  &:hover {
    border-color: $color-dark-grey;
    text-decoration: none;
    color: $color-dark-grey;
  }

  &.active {
    color: $color-white;
    background-color: $color-blue;
    border-color: $color-blue;

    &:hover {
      border-color: $color-blue;
    }
  }
}

article.music-item {
  margin: 10px 0;

  header.header {
    background-size: cover;
    height: 206px;
    border: 1px solid #e1e1e1;
    border-bottom: 0;

    .overlay {
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      text-align: center;
      padding-top: 70px;
      opacity: 0;
      @include transition(opacity 0.3s ease-in-out);

      &:hover, &.active {
        opacity: 1;
      }

      span {
        display: inline-block;
        @include size(63px, 63px);
        position: relative;
        @include transition(transform 0.05s ease-in-out);

        .icon:not(.icon-play-white-circle) {
          position: absolute;
          top: 6px;
          left: 6px;
        }

        &:hover {
          @include transform(scale(1.1));
        }
      }
    }
  }

  section.details {
    @extend .music-item-details;
  }

  footer.footer {
    @extend .music-item-footer;
  }
}

.music-item-details {
  padding: 10px;
  border: 1px solid #e1e1e1;
  border-top: none;
  border-bottom: none;

  .title {
    font-family: $font-open-sans;
    font-size: 18px;
    font-weight: 600;
    color: $color-black;
    margin: 10px 0;
    height: 50px;
    overflow: hidden;

    &.with-top {
      position: relative;
      padding-left: 46px;
    }

    span.top-position {
      position: absolute;
      top: 0;
      left: 0;
      @include size(36px, 36px);
      @include border-top-radius(18px);
      @include border-bottom-radius(18px);
      background-color: #89499d;
      color: $color-white;
      display: inline-block;
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      line-height: 36px;
    }
  }

  .description, .description a {
    font-family: $font-pt-sans;
    font-size: 13px;
    font-weight: normal;
    color: #747474;

    a {
      color: $color-blue;
    }
  }

  .description {
    height: 54px;
    overflow: hidden;
  }

  .user-info {
    position: relative;
    min-height: 50px;
    padding-left: 60px;
    padding-top: 7px;
    font-family: $font-pt-sans;
    font-size: 14px;
    font-weight: normal;
    color: $color-dark-grey;

    span.username, span.username a {
      color: $color-blue;
    }

    .time, .time a {
      font-size: 12px;
      color: #b7b7b7;
    }


    .avatar {
      position: absolute;
      top: 0;
      left: 0;
      @include size(50px, 50px);

      img {
        @include size(50px, 50px);
        @include border-top-radius(25px);
        @include border-bottom-radius(25px);
        @include transition(transform 0.05s ease-in-out);
      }

      &:hover img {
        @include transform(scale(1.2));
      }
    }
  }

  hr {
    border-color: #efefef;
    margin-bottom: 10px;
  }
}

.music-item-footer {
  position: relative;
  padding: 10px;
  padding-top: 0;
  border: 1px solid #e1e1e1;
  border-top: none;

  font-family: $font-open-sans;
  font-size: 16px;
  font-weight: normal;
  color: $color-dark-grey;

  a.play {
    position: relative;
    padding-left: 32px;

    i.icon {
      position: absolute;
      top: 8px;
      left: 10px;
    }
  }

  .vote-share {
    position: absolute;
    top: 6px;
    right: 10px;
    padding-left: 22px;
    padding-right: 21px;

    .icon-heart-grey {
      position: absolute;
      left: 0;
      top: 4px;
    }

    .icon-share-grey {
      position: absolute;
      right: 0;
      top: 3px;
    }
  }
}
