@media (max-height: 800px) {
  .swiper-container {
    .swiper-slide .holder-border { margin: 30px 0; }
    .swiper-slide .holder-facebook-connect { margin-top: 30px; }
  }
}


@media (max-width: $screen-sm-max) {
  nav.navbar#header .main-container .navbar-header {
    a.challenge {
      font-size: 10px;
      padding: 5px;
      width: auto;
      white-space: nowrap;
      top: 19px;
      left: 190px;
    }

    a.categories-menu {
      font-size: 10px;
      padding: 5px;
      top: 19px;
      left: 92px;
      padding-right: 18px;
      padding-left: 28px;

      span.border {
        width: 16px;
        height: 2px;
      }

      span.arrow-down {
        top: 10px;
      }
    }
  }

  .container-categories .holder-categories-filter .categories-menu {
    padding: 20px 10px;
    ul.categories li a {
      font-size: 12px;
    }
  }

  .container-categories .holder-categories-filter .extra-menu {
    padding: 20px 5px;

    ul li a {
      font-size: 12px;
    }
  }
}


@media (max-width: 560px) {
  .swiper-container .swiper-slide h2 span {
    width: auto;
    padding: 0 70px;
  }
}


@media (max-width: $screen-xs-max) {
  nav.navbar#header .main-container .navbar-header {
    margin: 0;
    width: 100%;

    a.categories-menu {
      left: 106px;
    }

    a.challenge {
      left: initial;
      right: 15px;
    }
  }

  .container-categories .holder-categories-filter {
    .categories-menu {
      height: 300px;
    }

    .extra-menu {
      height: 300px;
      padding: 20px 10px;
      ul li {
        margin-bottom: 5px;
      }
    }
  }

  .swiper-container .swiper-slide .holder-icon {
    margin-top: 35px;

    i.icon {
      background-size: 50px auto;
    }
  }

  .swiper-container .swiper-slide {
    h1 {
      font-size: 37px;
      margin-top: 0;
    }

    h2 span {
      font-size: 18px;
    }

     .holder-border {
      margin: 10px 0;
    }

    .holder-facebook-connect {
      margin-top: 10px;
      padding: 0;

      a.facebook-connect {
        padding: 10px;
        font-size: 12px;
      }
    }

    .alt-hint {
      font-size: 11px;
    }
  }
}


