.swiper-container {
  width: 100%;
  @include calc(height, "100% - #{$footer-height}");
  overflow: hidden;

  .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;

    .holder-icon {
      margin-top: 60px;
    }

    h1 {
      font-family: $font-open-sans;
      font-size: 43px;
      font-weight: bold;
      letter-spacing: 12px;
      color: $color-white;
      text-transform: uppercase;
    }

    h2 {
      font-family: $font-open-sans;
      font-size: 22px;
      font-weight: lighter;
      line-height: 30px;
      color: $color-white;

      span {
        display: inline-block;
        width: 440px;
      }
    }

    .holder-border {
      margin: 50px 0;

      .border {
        background-color: $color-white;
        width: 67px;
        height: 5px;
        display: inline-block;
      }
    }

    .holder-facebook-connect {
      margin-top: 50px;
      padding: 23px 38px;

      a.facebook-connect {
        border: 3px solid $color-white;
        padding: 20px 35px;
        font-family: $font-open-sans;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-white;
      }
    }

    .alt-hint {
      margin-top: 10px;
      font-family: $font-open-sans;
      font-size: 12px;
      color: $color-white;
    }

    &.uncover {
      background-image: url(image-path('slider/uncover.jpeg'));
    }

    &.rate {
      background-image: url(image-path('slider/rate.jpeg'));
    }

    &.share {
      background-image: url(image-path('slider/share.jpeg'));
    }


  }

  .swiper-button-prev, .swiper-button-next {
    background: rgba(8, 0, 16, 0.5);
    @include size(63px, 63px);

    .icon {
      position: absolute;
      top: 19px;
      left: 25px;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}

.modal {
  button.close {
    float: left;
    font-weight: normal;
    color: $color-black;
  }

  .modal-dialog {
    width: 463px;
  }

  .modal-content {
    @include border-top-radius(0);
    @include border-bottom-radius(0);
  }
}

#modal-sign-up {
}

.modal .holder-devise-form form {
  width: auto;
}

.holder-devise-form {
  .links {
    margin-top: 20px;
    color: $color-dark-grey;
    font-family: $font-open-sans;
    font-size: 12px;

    a {
      color: $color-blue;
      font-family: $font-open-sans;
      font-size: 12px;
    }
  }

  form {
    width: 463px;

    h2 {
      font-family: $font-open-sans;
      font-size: 18px;
      font-weight: bold;
      color: $color-black;
      text-transform: uppercase;
      margin: 20px 0 10px;
    }

    .form-inputs {
      margin: 20px 0;
      .input{
        margin: 20px 0;

        span.error {
          color: $brand-danger;
        }

        // Checkbox
        &.boolean label {
          padding-left: 20px;
        }
      }
    }

    .form-actions {
      margin: 20px 0;
    }

    .holder-gender label{
      margin: 0 5px;
    }

    input {
      &[type=text], &[type=email], &[type=password] {
        height: 45px;
        width: 100%;
        border: 1px solid $color-grey;
        padding: 0 20px;

        @include placeholder {
          color: $color-black;
        }

        &:hover, &:focus {
          border-color: $color-light-blue;
        }
      }

      &[type=submit] {
        background-color: $color-blue;
        @include border-top-radius(0);
        @include border-bottom-radius(0);
        padding: 10px 50px;
        font-family: $font-open-sans;
        font-size: 18px;
        color: $color-white;
        text-transform: uppercase;
      }
    }
  }
}
