.swiper-container {
  width: 100%;
  // @include calc(height, "100% - #{$footer-height}");
  // overflow: hidden;

  .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;

    .holder-icon {
      margin-top: 60px;
    }

    h1 {
      font-family: $font-open-sans;
      font-size: 43px;
      font-weight: bold;
      letter-spacing: 12px;
      color: $color-white;
      text-transform: uppercase;
    }

    h2 {
      font-family: $font-open-sans;
      font-size: 22px;
      font-weight: lighter;
      line-height: 30px;
      color: $color-white;

      span {
        display: inline-block;
        width: 440px;
      }
    }

    .holder-border {
      margin: 50px 0;

      .border {
        background-color: $color-white;
        width: 67px;
        height: 5px;
        display: inline-block;
      }
    }

    .holder-facebook-connect {
      margin-top: 50px;
      padding: 23px 38px;

      a.facebook-connect {
        border: 3px solid $color-white;
        padding: 20px 35px;
        font-family: $font-open-sans;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-white;
      }
    }

    .alt-hint {
      margin-top: 10px;
      font-family: $font-open-sans;
      font-size: 13px;
      font-weight: 100;
      color: $color-white;

      a {
        font-family: $font-open-sans;
        font-size: 13px;
        color: $color-white;
        font-weight: bold;
        // text-decoration: underline;

        // &:hover {
        //   text-decoration: none;
        // }
      }
    }

    &.uncover {
      background-image: url(image-path('slider/uncover.jpeg'));
    }

    &.rate {
      background-image: url(image-path('slider/rate.jpeg'));
    }

    &.share {
      background-image: url(image-path('slider/share.jpeg'));
    }


  }

  .swiper-button-prev, .swiper-button-next {
    background: rgba(8, 0, 16, 0.5);
    @include size(63px, 63px);

    .icon {
      position: absolute;
      top: 19px;
      left: 25px;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}

.modal {
  button.close {
    float: left;
    font-weight: normal;
    color: $color-black;
  }

  .modal-dialog {
    width: 463px;
  }

  .modal-content {
    @include border-top-radius(0);
    @include border-bottom-radius(0);
  }
}

#modal-sign-up {
}

.modal {
  .holder-devise-form form, .holder-share {
    width: auto;
  }
}

.holder-devise-form {
  .links {
    margin-top: 20px;
    color: $color-dark-grey;
    font-family: $font-open-sans;
    font-size: 12px;

    a {
      color: $color-blue;
      font-family: $font-open-sans;
      font-size: 12px;
    }
  }

  h2 {
    font-family: $font-open-sans;
    font-size: 18px;
    font-weight: bold;
    color: $color-black;
    text-transform: uppercase;
    margin: 20px 0 10px;
  }

  form {
    width: 463px;

    .form-inputs {
      margin: 20px 0;
      .input{
        margin: 20px 0;

        span.error {
          color: $brand-danger;
        }

        // Checkbox
        &.boolean label {
          padding-left: 20px;
        }
      }
    }

    .form-actions {
      margin: 20px 0;

      .cancel-link {
        margin-top: 10px;

        a {
          color: $color-blue;
          font-family: $font-open-sans;
          font-size: 12px;
        }
      }
    }

    .holder-gender label{
      margin: 0 5px;
    }

    input {
      &[type=text], &[type=email], &[type=password], &[type=url] {
        height: 45px;
        width: 100%;
        border: 1px solid $color-grey;
        padding: 0 20px;

        @include placeholder {
          color: $color-black;
        }

        &:hover, &:focus {
          border-color: $color-light-blue;
        }
      }

      &[type=submit] {
        background-color: $color-blue;
        @include border-top-radius(0);
        @include border-bottom-radius(0);
        padding: 10px 50px;
        font-family: $font-open-sans;
        font-size: 18px;
        color: $color-white;
        text-transform: uppercase;
      }
    }
  }

  a.facebook-sign-in {
    background-color: #1b49bd;
    display: block;
    padding: 22px 0;
    font-family: $font-open-sans;
    font-size: 15px;
    font-weight: 500;
    color: $color-white;
    text-align: center;
    text-decoration: none;

    span.text {
      position: relative;
    }

    .icon-fb {
      position: absolute;
      top: -3px;
      left: -20px;
    }
  }
}

body.page-welcome-index {
  position: relative;

  .music-charts {
    a.cdm-btn {
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

.holder-upload-form {
  @extend .holder-devise-form;

  input {
    @include placeholder {
      color: $color-dark-grey !important;
    }
  }

  span.hint {
    color: $color-dark-grey;
    font-family: $font-open-sans;
    font-size: 12px;

    i {
      color: $color-blue;
    }
  }

  form .form-inputs .input {
    margin-top: 5px;

    &.select {
      width: 100%;
      min-height: 45px;
      overflow: hidden;
      border: 1px solid $color-grey;

      &:hover, &:focus {
        border-color: $color-light-blue;
      }
    }

    select {
      background: transparent;
      width: 100%;
      height: 45px;
      line-height: 45px;
      padding: 0 20px;
      font-size: 14px;
      border: 0;
      @include border-top-radius(0px);
      @include border-bottom-radius(0px);
      -webkit-appearance: none;

    }
  }
}

.holder-share {
  @extend .holder-devise-form;
  width: 463px;

  .holder-image {
    img {
      // @include size(360px, 206px);
      width: 100%;
    }
  }

  .title {
    font-family: $font-open-sans;
    font-size: 18px;
    color: $color-dark-grey;
  }

  .holder-share-buttons {
    a, div, a.pluginShareButtonLink {
      font-family: $font-open-sans;
      font-size: 17px;
      font-weight: 400;
      color: $color-white;
      padding: 10px 20px;
      display: inline-block;

      &.share-facebook {
        background-color: #2e4b93;
        margin-right: 10px;
      }

      &.share-twitter {
        background-color: #00bdef;
      }
    }
  }

  a.btn-done {
    display: inline-block;
    background-color: $color-blue;
    @include border-top-radius(0);
    @include border-bottom-radius(0);
    padding: 10px 20px;
    font-family: $font-open-sans;
    font-size: 16px;
    color: $color-white;
  }

  span.hint {
    color: $color-dark-grey;
    font-family: $font-open-sans;
    font-size: 12px;
  }
}

#player {
  position: fixed;
  z-index: $z-index-player;
  right: 15px;
  bottom: 15px;
}
